.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet{
        .dark-mode-boton{
            margin: 2.5rem 0 0 0;
        }
    }
    
    @include pantalla-int{
        flex-direction: row;
        
        .dark-mode-boton{
            padding-top: 2.5rem;
        }
    }
}

.dark-mode-boton{
    width: 4rem;

    filter: invert(100%);

    &:hover{
        cursor: pointer;
    }
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;

    @include tablet{
        flex-direction: column;
        justify-content: space-between;
    }
}

.navegacion{
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    height: 0;
    
    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        margin: 5rem 0 0 0;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
        padding: 1.2rem 2.7rem;
        transition: .3s ease all;
        transition-delay: 0s;
        

        &:hover{
            color: $verde;
            background: rgba(109, 109, 109, 0.44);
        }
    }
    .cerrar-sesion{
        background-color: $rojo;
        
        &:hover{
            color: $blanco;
            background-color: rgba(255, 0, 0, 0.5);
        }
    }

    .iniciar-sesion{
        background-color: $verde;
        
        &:hover{
            color: $blanco;
            background-color: #70b10096;
        }
    }
}

.mobile-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;

        &:hover{
            cursor: pointer;
        }
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
    height: auto;
}