.testimoniales{
    h3{
        margin-top: 0;
    }
}

.contenido-testimoniales{
    background: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;

    @media (max-width: 480px) {
        padding: 1rem;
        font-size: 1.8rem;
    }

    h4{
        margin: 0;
    }

    blockquote{
        padding-left: 5rem;
        position: relative;

        &::before{
            content: '';
            background: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 5rem;
            height: 7rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }

    p{
        text-align: right;
        color: $blanco;
    }
}